@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leeto-progress-bar {
  width: 100%;
  appearance: none;
  height: 5px;
  border-radius: 100px;

  /* Chrome and Safari */
  &::-webkit-progress-bar {
    background: #cbd5e1;
    border-radius: 100px;
  }

  &::-webkit-progress-value {
    background-color: #2e32be;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  /* Firefox */
  &::-moz-progress-bar {
    background-color: #2e32be;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }
}
